.SearchResults {
    width: 50%;
    height: 150px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: #bc1c1b;
    color: #ffcec2;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  